:root {
  --ifm-background-color: #ffffff;
  --ifm-link-color: #0bc84e;
  --ifm-link-hover-color: #0fdb52;
  --ifm-color-primary: #06b94c;
  --ifm-color-primary-dark: #00ad44;
  --ifm-color-primary-darker: #04a342;
  --ifm-color-primary-darkest: #127d35;
  --ifm-color-primary-light: #0bc84e;
  --ifm-color-primary-lighter: #0ecf55;
  --ifm-color-primary-lightest: #0fdb52;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-background-color: #424549;
  --ifm-link-color: #0bc84e;
  --ifm-link-hover-color: #0fdb52;
  --ifm-color-primary: #06b94c;
  --ifm-color-primary-dark: #00ad44;
  --ifm-color-primary-darker: #04a342;
  --ifm-color-primary-darkest: #127d35;
  --ifm-color-primary-light: #0bc84e;
  --ifm-color-primary-lighter: #0ecf55;
  --ifm-color-primary-lightest: #0fdb52;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}